@page "/"

@inject Microsoft.JSInterop.IJSRuntime JS

<PageTitle>Create Cookie</PageTitle>

<h3>Create Cookie</h3>

<input type="text" class="form-control m-auto" @bind="cookieInput"/>

<button class="btn btn-primary" @onclick="Create">Create Cookie</button>

@code {
    //kullanicidan alinan input
    private string cookieInput = "";

    //son cookie degeri
    private string cookie = "";

    private async Task Create()
    {
        if (string.IsNullOrEmpty(cookieInput))
        {
            cookie = $"Cookie_{Guid.NewGuid()}"; //text alani bossa
        }
        else
        {
            cookie = $"{cookieInput}_{Guid.NewGuid()}";
        }

        // cookie gecerlilik suresi
        var expiration = DateTime.UtcNow.AddMinutes(10).ToString("R");

        // JS ile cookie oluştur.
        await JS.InvokeVoidAsync("setCookie", "myCookie", cookie, expiration);
        cookieInput = "";

        // popup goster.
        await JS.InvokeVoidAsync("showSuccessPopup", "Cookie başarıyla oluşturuldu!");
    }
}
